# Make a validation dataset with equal observations from west vs east

In [1]:
import shutil
import numpy as np
import pandas as pd
import os

In [2]:
color_df = pd.read_csv('./full_hexlabels.csv')
color_df

       image_idxs hex_colors      gbifID   latitude   longitude
0               0    #e5ccef   923911394  48.826305 -102.092171
1               2    #dbbddb   923910407  43.613086  -73.057076
2               4    #c4a9e2   899970365  43.066871  -87.890565
3               7    #a694be   891778924  42.140556  -87.831643
4               9    #bf9fe9   891760719  38.679240  -97.990035
...           ...        ...         ...        ...         ...
20623       41059    #a999cf  1024218211  41.569419  -88.150552
20624       41060    #bf94b9  1024202810  45.057871  -87.168277
20625       41061    #bea9df  1024200169  42.921738  -88.026752
20626       41063    #cabcb5  1024198670  40.791723  -80.492498
20627       41064    #c7abd1  1024192342  44.944167  -91.350556

[20628 rows x 5 columns]

# Isolate west vs east rows

In [3]:
western_pictures = color_df[color_df.longitude < -100]

In [4]:
eastern_pictures = color_df[color_df.longitude > -100]

# Sample 250 from each region and concatenate into one big dataframe

In [5]:
subsampled_western = western_pictures.sample(250)
subsampled_eastern = eastern_pictures.sample(250)

In [6]:
for_labeling = pd.concat([subsampled_western,subsampled_eastern])

In [7]:
for_labeling = for_labeling.sort_index()

# Write to csv

In [8]:
for_labeling.to_csv('./validation/validation_subset.csv',index=False)

In [9]:
for_labeling

       image_idxs hex_colors      gbifID   latitude   longitude
5              10    #c4b8ee   891745778  41.814410  -88.089387
49            143    #d0b1c4  5063198323  37.129597  -93.238183
59            177    #edb3f9  5062940410  40.755017  -73.465363
166           382    #eac8ef  5062734283  44.589855 -104.713797
230           531    #a765b8  5036976838  46.849510 -111.737213
...           ...        ...         ...        ...         ...
20463       40750    #d3cfe2  1291148199  43.583035 -103.465358
20477       40772    #edafd8  1291135998  41.606313  -87.271348
20503       40822    #e3c1f0  1291119578  42.732700  -91.016926
20538       40894    #c8adbd  1291063176  37.888484  -84.396877
20584       40990    #e0c6e5  1135211570  42.983204  -91.126663

[500 rows x 5 columns]

In [11]:
for_labeling['image_idxs'].to_csv('./validation/validation_subset_empty.csv',index=False)

# Make a directory of the subselected images

In [14]:
for image_idx in for_labeling.image_idxs:
    filename = str(image_idx)+'.jpg'
    origin_path = os.path.join('/Volumes/My Passport/monarda_fistulosa_segmentation/image_dataset/gpt_filtered_images',filename)
    dest_path = os.path.join('/Volumes/My Passport/monarda_fistulosa_segmentation/validation_images',filename)
    shutil.copy(origin_path,dest_path)